venv
db.sqlite3
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
media/
staticfiles/
.env
.env.*
.DS_Store
.idea/
.vscode/
*.swp
*.swo
coverage
htmlcov/
*.cover
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
__pypackages__/
pip-wheel-metadata/
share/python-wheels/cls
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
db.sqlite3
celerybeat-schedule
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints



